In [10]:
import os
import pandas as pd
from dotenv import load_dotenv

In [11]:
load_dotenv()

True

In [12]:
df = pd.read_csv('DATA/pDIA2020J1J30-1PlAv.csv',sep=';')
df

,Nombre,Equipo,Partidos,Minutos,Puntos,T2 Anotados,T2 Lanzados,% T2,T3 Anotados,T3 Lanzados,...,% Rebotes Def,% Rebotes Of,% Robos,Toques,Uso,Versatilidad,Win Scores,Eficiencia Ofensiva,Eficiencia Defensiva,Diferencia eficiencia
0,"b'ABAD MOYANO, CRISTINA'",['ALTER ENERSUN AL-QÁZERES EXTREMADURA'],1.0,7.73,0.00,0.00,1.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"b'ABALDE DIAZ, TAMARA'",['KUTXABANK ARASKI'],27.0,27.45,7.89,3.30,7.33,0.45,0.00,0.11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"b'ABDI, FARHIYA'",['CIUDAD DE LA LAGUNA TENERIFE'],7.0,12.33,2.86,0.86,2.29,0.38,0.14,0.57,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"b'ALARCON OTERO, TXELL'",['CAMPUS PROMETE'],25.0,15.56,5.12,0.60,1.28,0.47,1.24,2.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"b'ALARIE, ISABELLA AUGUSTINE'",['PERFUMERIAS AVENIDA'],7.0,17.58,6.00,2.14,5.71,0.38,0.43,1.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,"b'WILLIAMS, DANNI'",['CADI LA SEU'],9.0,19.12,6.33,1.22,2.89,0.42,1.22,3.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231,"b'WOLF, ABIGAIL'",['QUESOS EL PASTOR'],30.0,22.26,8.10,3.73,7.00,0.53,0.00,0.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
232,"b'WURTZ, TAYLOR ROCHELLE'",['CASADEMONT ZARAGOZA'],29.0,30.89,12.72,2.93,6.41,0.46,1.93,5.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233,"b'ZABALA VILLAR, CARLA'",['CAMPUS PROMETE'],1.0,0.02,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234,"b'ZAPLATOVA, PETRA'",['ALTER ENERSUN AL-QÁZERES EXTREMADURA'],10.0,20.53,6.30,1.10,2.70,0.41,0.90,2.80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df["Nombre"] = df["Nombre"].astype(str).str.replace(r"^b[\'\"]|[\'\"]$", "", regex=True)
df["Equipo"] = df["Equipo"].astype(str).str.replace(r"^\['|'\]$", "", regex=True)
df

,Nombre,Equipo,Partidos,Minutos,Puntos,T2 Anotados,T2 Lanzados,% T2,T3 Anotados,T3 Lanzados,...,% Rebotes Def,% Rebotes Of,% Robos,Toques,Uso,Versatilidad,Win Scores,Eficiencia Ofensiva,Eficiencia Defensiva,Diferencia eficiencia
0,"ABAD MOYANO, CRISTINA",ALTER ENERSUN AL-QÁZERES EXTREMADURA,1.0,7.73,0.00,0.00,1.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"ABALDE DIAZ, TAMARA",KUTXABANK ARASKI,27.0,27.45,7.89,3.30,7.33,0.45,0.00,0.11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,"ABDI, FARHIYA",CIUDAD DE LA LAGUNA TENERIFE,7.0,12.33,2.86,0.86,2.29,0.38,0.14,0.57,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"ALARCON OTERO, TXELL",CAMPUS PROMETE,25.0,15.56,5.12,0.60,1.28,0.47,1.24,2.20,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"ALARIE, ISABELLA AUGUSTINE",PERFUMERIAS AVENIDA,7.0,17.58,6.00,2.14,5.71,0.38,0.43,1.29,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,"WILLIAMS, DANNI",CADI LA SEU,9.0,19.12,6.33,1.22,2.89,0.42,1.22,3.89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
231,"WOLF, ABIGAIL",QUESOS EL PASTOR,30.0,22.26,8.10,3.73,7.00,0.53,0.00,0.07,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
232,"WURTZ, TAYLOR ROCHELLE",CASADEMONT ZARAGOZA,29.0,30.89,12.72,2.93,6.41,0.46,1.93,5.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
233,"ZABALA VILLAR, CARLA",CAMPUS PROMETE,1.0,0.02,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
234,"ZAPLATOVA, PETRA",ALTER ENERSUN AL-QÁZERES EXTREMADURA,10.0,20.53,6.30,1.10,2.70,0.41,0.90,2.80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df.columns

Index(['Nombre', 'Equipo', 'Partidos', 'Minutos', 'Puntos', 'T2 Anotados',
       'T2 Lanzados', '% T2', 'T3 Anotados', 'T3 Lanzados', '% T3',
       'T1 Anotados', 'T1 Lanzados', '% T1', 'Reb. Ofensivos',
       'Reb. Defensivos', 'Rebotes', 'Asistencias', 'Robos', 'Perdidas',
       'Tapones', 'Tapones Recibidos', 'Mates', 'Faltas Cometidas',
       'Faltas Recibidas', 'Valoracion', '% Asist', '% Tiro Efectivo',
       '% Tiro Verdadero', 'GScore', 'TLR%', 'Posesiones Anotadas',
       'Posesiones No Anotadas', 'Floor Percentage', 'Puntos por Tiro',
       '% Rebotes', '% Rebotes Def', '% Rebotes Of', '% Robos', 'Toques',
       'Uso', 'Versatilidad', 'Win Scores', 'Eficiencia Ofensiva',
       'Eficiencia Defensiva', 'Diferencia eficiencia'],
      dtype='object')

In [15]:
rename_map = {
    'Reb. Ofensivos':  'Reb_Ofensivos',
    'Reb. Defensivos': 'Reb_Defensivos'
}

good_cols = [
    'Nombre','Equipo','Partidos','Puntos','T2 Anotados','T2 Lanzados','% T2',
    'T3 Anotados','T3 Lanzados','% T3','T1 Anotados','T1 Lanzados','% T1',
    'Reb_Ofensivos','Reb_Defensivos','Rebotes','Asistencias','Robos',
    'Perdidas','Tapones','Tapones Recibidos','Mates',
    'Faltas Cometidas','Faltas Recibidas','Valoracion'
]

In [17]:
df = (
    df                    # tu DataFrame original
      .rename(columns=rename_map)           # corrige los dos nombres
      .reindex(columns=good_cols)           # *mantiene* solo las 23 columnas válidas
      # .astype("float64")                    # asegura dtype double → evita Buffer Error
)

In [18]:
df.to_csv("testing_dataset.csv",sep=';')